* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* UTILITIES */
.clearfix {
    content: "";
    display: table;
    clear: both;
}


/* INIZIO STILE HEADER */
header {
    height: 100px;
    width: 100%;
    background-color: aquamarine
}

nav li  {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 15px;

    line-height: 100px;
}

nav ul {
    display: inline-block;
}

.sinistra img {
    vertical-align: middle;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

.sinistra,
.destra {
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
    background-color: rgba(0,0,0, .25);
    border: 0.5px solid black;

    position: relative;
} 

.destra ul {
    
}

/* STILE ARTICLE */
article {
    height: 800px;
    background-color: burlywood;
    
    position: relative;
}

section {
    height: 80%;
    width: 90%;
    background-color: darkgoldenrod;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.superiore {
    background-color: rgba(0,0,0, .25);
    border: 0.5px solid black;
    font-weight: 700;
    font-size: 80px;
}

.inferiore_sinistra,
.inferiore_destra {
    display: inline-block;
    float: left;
    width: 50%;
    height: 70%;
    border: 0.5px solid black;
}

.inferiore_sinistra p:first-child {
    margin-top: 50px;
}

.inferiore_sinistra button {
    margin-top: 25px;
    margin-bottom: 10px;
    display: block;
}

.fa-arrow-down {
    font-size: 50px;
    margin-top: 30px;
}

.inferiore_destra img {
    height: 350px;
    margin-top: 50px;
    margin-right: 10px;
}

/* PIANO DROPBOX */
.piano_dropbox {
    width: 100%;
    height: 150px;
    background-color: khaki;
}

.prima_sezione,
.seconda_sezione {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0,0,0, .25);
    border: 0.5px solid black;
}

.prima_sezione {
    height: 50%;
}

.prima_sezione p {
    font-size: 30px;
}

.seconda_sezione {
    height: 50%;
}

/* TABELLE */
.contenitore_tabelle {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    background-color: forestgreen;
}

.tabelle {
    height: 100%;
    width: 80%;
    background-color: lightpink;
    margin: auto;
}

.tabella {
    width: calc(100% / 3);
    height: 100%;
    background-color: bisque;
    display: inline-block;
    float: left;
    border: 1px solid black;

    position: relative;
}

.table_uno,
.table_due,
.table_tre{
    width: 80%;
    height: 100%;
    background-color: brown;
    border: 1px solid black;
}

.table_due {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.table_tre {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(0%, 0%);
}

.singolo_team {
    height: 50px;
    background-color: aqua;
}

.singolo_team p {
    text-align: center;
    line-height: 50px;
}

.primo_blocco {
    height: 100px;
    border: 0.5px solid black;
}

.secondo_blocco {
    height: 150px;
    border: 0.5px solid black;
}

.terzo_blocco {
    height: 80px;
    border: 0.5px solid black;
}

.quarto_blocco {
    height: 250px;
    border: 0.5px solid black;
}

/* ENTERPRISE */
.enterprise {
    width: 100%;
    height: 300px;
    background-color: cyan;
    margin: auto;

    position: relative;
}

.enterprise_1 {
    width: 80%;
    height: 80%;
    background-color: darkkhaki;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titolo_team {
    height: 70px;
    border: 1px solid black;
}

.titolo_team p {
    text-align: center;
    line-height: 70px;
}

.contatta_button {
    height: 70px;
    border: 1px solid black;
}

.contatta_button p{
    display: inline-block;
    margin-right: 800px;
}

.ufficio_vendite {
    height: 100px;
    border: 1px solid black;
}

/* STILE PARTNER DROPBOX */
.partner_dropbox {
    height: 500px;
    background-color: darkolivegreen;
    margin: 0 auto;

    position: relative;
}

.partner_contenitore {
    width: 80%;
    height: 80%;
    background-color: darkorange;
    display: inline-block;
    float: left;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.immagine_partner,
.testo_partner {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
    background-color: deepskyblue;
    border: 1px solid black;
}

.immagine_partner {
    background-image: url(../img/partner.png);
    background-size: contain;
    background-repeat: no-repeat;

}


/* OPERAZIONI DROPBOX */
.operazioni_dropbox {
    height: 1000px;
    width: 100%;
    background-color: gold;
}

.testo_esegui {
    height: 150px;
    width: 80%;
    background-color: honeydew;
    margin: 0 auto;
}

.sezione {
    height: 425px;
    width: 80%;
    background-color: lavender;
    margin: 0 auto;
}

.blocchi_piccoli {
    width: calc(100%/3);
    height: 100%;
    background-color: lawngreen;
    display: inline-block;
    float: left;

    border: 1px solid black;
}

.immagine_blocco_piccolo {
    height: 250px;
    border: 1px solid black;
}

.immagine_blocco_piccolo img {
  height: 100%;
}

/*   DROPBOX_BUSINESS  */
.dropbox_business {
    height: 200px;
    background-color: lightblue;

    position: relative;
}

.business_superiore,
.business_inferiore {
    width: 80%;
    background-color: gold;
    margin: 0 auto;
    border: 1px solid black;
}

.business_superiore {
    height: 150px;
}

.business_inferiore {
    height: 50px;
}

/* INIZIO DESIGNT */
.designit {
    height: 400px;
    background-color: coral;
    margin: 0 auto;
}

aside {
    width: 25%;
    height: 400px;
    background-color: cornflowerblue;
    float: left;
}

.centrale {
    width: 50%;
    height: 400px;
    background-color: cornsilk;
    float: left;
}

.img_designt {
    height: 120px;
    border: 1px solid black;
}

.testo_designt {
    height: 200px;
    border: 1px solid black;
}

.nome_autore {
    height: 80px;
    border: 1px solid black;
}

.sup {
    width: 100%;
    height: 200px;
    background-color: darkgoldenrod;
}

.inf {
    width: 100%;
    height: 200px;
    background-color: green;
}

.sx {
    width: 50%;
    height: 200px;
    background-color: greenyellow;
    float: left;
    border: 1px solid black;

    position: relative;
}

.dx {
    width: 50%;
    height: 200px;
    background-color: lightsalmon;
    float: left;
    border: 1px solid black;

    position: relative;
}

.sx img,
.dx img {
   height: 60%;
   width: 70%;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


/* INIZIO DROPBOX_BUSINESS_2 */
.dropbox_centrato {
    width: 80%;
    height: 80%;
    background-color: blanchedalmond;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* INIZIO DOMANDE FREQUENTI */
.domande_frequenti {
    height: 600px;
    background-color: crimson;
    position: relative;
}

.domande_frequenti_centro {
    height: 80%;
    width: 80%;
    background-color: darkolivegreen;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titolo {
    height: 28%;
    background-color: darkorange;
    border: 1px solid black;
}

.differenza {
     height: 18%;
     background-color: aliceblue;
     border: 1px solid black; 
}

/* INIZIO FOOTER */
footer {
    height: 400px;
    background-color: burlywood;

    position: relative;
}

.centro_footer {
    height: 80%;
    width: 90%;
    background-color: chocolate;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabelle_footer {
    height: 70%;
    background-color: brown;
}

.tabella_footer {
    width: 20%;
    height: 100%;
    background-color: cyan;
    border: 1px solid black;

    display: inline-block;
    float: left;
}

.orizzontale {
    height: 30%;
    background-color: rgb(212, 192, 192);
}

.italiano {
    height: 100%;
    width: 20%;
    border: 1px solid black;
}