* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.clearfix {
    content: "";
    display: table;
    clear: both;
}


/* STILE HEADER */
header {
    height: 15vh;
    width: 100vw;
    background-color: aquamarine
}

.sinistra,
.destra {
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
    background-color: rgba(0,0,0, .25);
    border: 0.5px solid black;
} 

/* STILE ARTICLE */
article {
    height: 80vh;
    background-color: burlywood;
    
    position: relative;
}

section {
    height: 80%;
    width: 70%;
    background-color: darkgoldenrod;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.superiore {
    height: 40%;
    background-color: rgba(0,0,0, .25);
    border: 0.5px solid black;
}

.inferiore_sinistra,
.inferiore_destra {
    display: inline-block;
    float: left;
    width: 50%;
    height: 60%;
    background-color: rgba(0,0,0, .25);
    border: 0.5px solid black;
}

/* PIANO DROPBOX */
.piano_dropbox {
    width: 100vw;
    height: 30vh;
    background-color: khaki;
}

.prima_sezione,
.seconda_sezione {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0,0,0, .25);
    border: 0.5px solid black;
}

.prima_sezione {
    height: 60%;
}

.seconda_sezione {
    height: 40%;
}

/* TABELLE */
.tabelle {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    background-color: forestgreen;
}