* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.clearfix {
    content: "";
    display: table;
    clear: both;
}


/* STILE HEADER */
header {
    height: 15vh;
    width: 100%;
    background-color: aquamarine
}

.sinistra,
.destra {
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
    background-color: rgba(0,0,0, .25);
    border: 0.5px solid black;
} 

/* STILE ARTICLE */
article {
    height: 80vh;
    background-color: burlywood;
    
    position: relative;
}

section {
    height: 80%;
    width: 90%;
    background-color: darkgoldenrod;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.superiore {
    height: 40%;
    background-color: rgba(0,0,0, .25);
    border: 0.5px solid black;
}

.inferiore_sinistra,
.inferiore_destra {
    display: inline-block;
    float: left;
    width: 50%;
    height: 60%;
    background-color: rgba(0,0,0, .25);
    border: 0.5px solid black;
}

/* PIANO DROPBOX */
.piano_dropbox {
    width: 100%;
    height: 30vh;
    background-color: khaki;
}

.prima_sezione,
.seconda_sezione {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0,0,0, .25);
    border: 0.5px solid black;
}

.prima_sezione {
    height: 60%;
}

.seconda_sezione {
    height: 40%;
}

/* TABELLE */
.contenitore_tabelle {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    background-color: forestgreen;
}

.tabelle {
    height: 100%;
    width: 80%;
    background-color: lightpink;
    margin: auto;
}

.tabella {
    width: calc(100% / 3);
    height: 100%;
    background-color: bisque;
    display: inline-block;
    float: left;
    border: 1px solid black;

    position: relative;
}

.table {
    width: 80%;
    height: 80%;
    background-color: brown;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* ENTERPRISE */
.enterprise {
    width: 100%;
    height: 200px;
    background-color: cyan;
    margin: auto;

    position: relative;
}

.enterprise_1 {
    width: 80%;
    height: 80%;
    background-color: darkkhaki;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* STILE PARTNER DROPBOX */
.partner_dropbox {
    height: 500px;
    background-color: darkolivegreen;
    margin: 0 auto;

    position: relative;
}

.partner_contenitore {
    width: 80%;
    height: 80%;
    background-color: darkorange;
    display: inline-block;
    float: left;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.immagine_partner,
.testo_partner {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
    background-color: deepskyblue;
    border: 1px solid black;
}

/* OPERAZIONI DROPBOX */
.operazioni_dropbox {
    height: 1000px;
    width: 100%;
    background-color: gold;
}

.testo_esegui {
    height: 150px;
    width: 80%;
    background-color: honeydew;
    margin: 0 auto;
}

.sezione {
    height: 425px;
    width: 80%;
    background-color: lavender;
    margin: 0 auto;
}

.blocchi_piccoli {
    width: calc(100%/3);
    height: 100%;
    background-color: lawngreen;
    display: inline-block;
    float: left;

    border: 1px solid black;
}

/*   DROPBOX_BUSINESS  */
.dropbox_business {
    height: 200px;
    background-color: lightblue;

    position: relative;
}

.business_superiore,
.business_inferiore {
    width: 80%;
    background-color: gold;
    margin: 0 auto;
    border: 1px solid black;
}

.business_superiore {
    height: 150px;
}

.business_inferiore {
    height: 50px;
}

/* INIZIO DESIGNT */
.designit {
    height: 300px;
    background-color: coral;
    margin: 0 auto;
}

aside {
    width: 25%;
    height: 300px;
    background-color: cornflowerblue;
    float: left;
}

.centrale {
    width: 50%;
    height: 300px;
    background-color: cornsilk;
    float: left;
}

.sup {
    width: 100%;
    height: 150px;
    background-color: darkgoldenrod;
}

.inf {
    width: 100%;
    height: 150px;
    background-color: green;
}

.sx {
    width: 50%;
    height: 150px;
    background-color: greenyellow;
    float: left;
    border: 1px solid black;
}

.dx {
    width: 50%;
    height: 150px;
    background-color: lightsalmon;
    float: left;
    border: 1px solid black;
}


/* INIZIO DROPBOX_BUSINESS_2 */
.dropbox_centrato {
    width: 80%;
    height: 80%;
    background-color: blanchedalmond;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* INIZIO DOMANDE FREQUENTI */
.domande_frequenti {
    height: 600px;
    background-color: crimson;
    position: relative;
}

.domande_frequenti_centro {
    height: 80%;
    width: 80%;
    background-color: darkolivegreen;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titolo {
    height: 28%;
    background-color: darkorange;
    border: 1px solid black;
}

.differenza {
     height: 18%;
     background-color: aliceblue;
     border: 1px solid black; 
}

/* INIZIO FOOTER */
footer {
    height: 400px;
    background-color: burlywood;

    position: relative;
}

.centro_footer {
    height: 80%;
    width: 90%;
    background-color: chocolate;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabelle_footer {
    height: 70%;
    background-color: brown;
}

.tabella_footer {
    width: 20%;
    height: 100%;
    background-color: cyan;
    border: 1px solid black;

    display: inline-block;
    float: left;
}

.orizzontale {
    height: 30%;
    background-color: rgb(212, 192, 192);
}