* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

li a {
    text-decoration: none;
}

/* UTILITIES */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

.padding_tabelle {
    padding: 15px;
}
/* INIZIO STILE HEADER */
header {
    height: 100px;
    width: 100%;
}

nav li  {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 15px;
 
    line-height: 100px;
}

nav ul {
    display: inline-block;
}

.sinistra img {
    vertical-align: middle;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

.sinistra,
.destra {
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;

    position: relative;
} 

.destra ul {
    float: right;
}

.sinistra a,
.destra a {
    font-size: 15px;
    font-weight: 400;
}

li button {
    height: 40px;
    width: 50px;
    background-color: blue;
    color: white;
}

/* STILE ARTICLE */
article {
    height: 620px;    
    position: relative;
}

section {
    height: 521px;
    width: 100%;
    background-color: lightblue;
    
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.superiore {
    font-weight: 700;
    font-size: 70px;
    margin-left: 60px;
}

.inferiore_sinistra,
.inferiore_destra {
    display: inline-block;
    float: left;
    width: 50%;    
}

.inferiore_sinistra p:first-child {
    margin-top: 50px;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 400;
}

.inferiore_sinistra button {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 60px;
    display: block;

    height: 40px;
    width: 220px;
    background-color: blue;

    color: white;
}

.inferiore_sinistra p a {
    font-size: 15px;
    margin-left: 60px;
}

.fa-arrow-down {
    font-size: 50px;
    margin-top: 30px;
    margin-left: 60px;
    font-size: 40px;
}


.inferiore_destra img {
    height: 350px;
    margin-right: 10px;

    position: relative;
    top: 50px;
}


/* PIANO DROPBOX */
.prima_sezione,
.seconda_sezione {
    width: 80%;
    margin: 0 auto;
}

.prima_sezione p {
    font-size: 30px;
    font-weight: 700
}

.seconda_sezione {
    height: 60px;
    line-height: 60px;
}

/* TABELLE */
.contenitore_tabelle {
    width: 100%;
    height: 700px;
    margin: 0 auto;
}

.tabelle {
    height: 100%;
    width: 80%;
    margin: auto;
}

.tabella {
    width: calc(100% / 3);
    height: 100%;
    display: inline-block;
    float: left;

    position: relative;
}

.table_uno,
.table_due,
.table_tre{
    width: 90%;
    height: 100%;
    border: 1px solid black;
}

.table_due {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.table_tre {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(0%, 0%);
}

.singolo_team {
    height: 50px;
    font-weight: 700;
    border-bottom: 0.5px solid black;
}

.singolo_team p {
    text-align: center;
    line-height: 50px;
}

.primo_blocco {
    height: 100px;
}

.primo_blocco p:first-child {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}

.primo_blocco p:nth-of-type(2) {
    font-weight: 700;
    margin-bottom: 5px;
} 

.primo_blocco p:last-child {
    color: grey;
}

.secondo_blocco {
    height: 150px;
}

.secondo_blocco p {
    margin-top: 10px;
}

.terzo_blocco {
    height: 100px;
}

.terzo_blocco button {
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    color: white;
    background-color: blue;
}

.quarto_blocco {
    height: 282px;
}

.quarto_blocco p {
    margin: 8px;
}

.quarto_blocco p:first-child {
    font-weight: 700;
}

.fa-check {
   color: blue;
}


/* ENTERPRISE */
.enterprise {
    width: 100%;
    height: 300px;
    margin: auto;

    position: relative;
}

.enterprise_1 {
    width: 80%;
    height: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titolo_team {
    height: 70px;
    border: 0.5px solid black;
}

.titolo_team p {
    text-align: center;
    line-height: 70px;
}

.contatta_button {
    height: 70px;
    line-height: 70px; 
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    position: relative;
}

.contatta_button p{
    display: inline-block;
    margin-left: 25px;
    font-weight: 700; 
}

.contatta_button button {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);

    margin-right: 25px;
    height: 30px;
    width: 180px;
    background-color: blue;
    color: white;
}


.ufficio_vendite {
    height: 100px;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

.ufficio_vendite p {
    margin-left: 25px;
}

.ufficio_vendite p:first-child {
    font-weight: 700;
    margin-left: 25px;
    margin-bottom: 30px;
}


/* STILE PARTNER DROPBOX */
.partner_dropbox {
    height: 500px;
    margin: 0 auto;

    position: relative;
}

.partner_contenitore {
    width: 80%;
    height: 80%;
    display: inline-block;
    float: left;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.immagine_partner,
.testo_partner {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
}

.immagine_partner {
    background-image: url(../img/partner.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.testo_partner p:first-child {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 50px;
}

.testo_partner button {
    margin-top:  20px;
    height: 45px;
    width: 125px;
    background-color: transparent;
}


/* OPERAZIONI DROPBOX */
.operazioni_dropbox {
    height: 1000px;
    width: 100%;
}

.testo_esegui {
    height: 150px;
    width: 80%;
    margin: 0 auto;
    line-height: 150px;

}

.testo_esegui p {
    font-weight: 700;
    font-size: 25px;
}

.sezione {
    height: 425px;
    width: 80%;
    margin: 0 auto;
}

.blocchi_piccoli {
    width: calc(100%/3);
    height: 100%;
    display: inline-block;
    float: left;
}

.blocchi_piccoli p:first-of-type {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 6px;
}

.immagine_blocco_piccolo {
    height: 250px;
}

.immagine_blocco_piccolo img {
  height: 100%;
}

/*   DROPBOX_BUSINESS  */
.dropbox_business {
    height: 200px;
    position: relative;
}

.business_superiore,
.business_inferiore {
    width: 80%;
    margin: 0 auto;
}

.business_superiore {
    height: 150px;
    position: relative;
}

.business_superiore p{
    font-weight: 800;
    font-size: 25px;
    
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.business_inferiore {
    height: 50px;
}



/* INIZIO DESIGNT */
.designit {
    height: 400px;
    margin: 0 auto;
}

aside {
    width: 25%;
    height: 400px;
    float: left;
}

.centrale {
    width: 50%;
    height: 400px;
    background-color: cornsilk;
    float: left;
}

.img_designt {
    height: 120px;
    position: relative;
}

.img_designt img {
    height: 50px;
    
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);

    margin-left: 25px;
}

.testo_designt {
    height: 200px;
    position: relative;
}

.testo_designt p {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    
    margin-left: 25px;
    font-weight: 500;
}

.nome_autore {
    height: 80px;
    padding-left: 25px;
}

.sup {
    width: 100%;
    height: 200px;
}

.inf {
    width: 100%;
    height: 200px;
}

.sx {
    width: 50%;
    height: 200px;
    float: left;

    position: relative;
}

.dx {
    width: 50%;
    height: 200px;
    float: left;

    position: relative;
}

#florida {
    height: 25px;
}

.sx img,
.dx img {
   height: 60%;
   width: 70%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


/* INIZIO DROPBOX_BUSINESS_2 */
#colore_dropbox_business {
    background-color: lightblue;
}

.dropbox_centrato {
    width: 80%;
    height: 150px;
    background-color: lightblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropbox_centroSinistra,
.dropbox_centroDestra {
    height: 150px;
    width: 50%;
    display: inline-block;
    float: left;

    position: relative;
}

.dropbox_centroSinistra p {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);

    font-weight: 700;
    font-size: 30px;
}

.dropbox_centroDestra button {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);

    height: 30px;
    width: 170px;

    background-color: blue;
    color: white;
}

/* INIZIO DOMANDE FREQUENTI */
.domande_frequenti {
    height: 600px;
    position: relative;
}

.domande_frequenti_centro {
    height: 80%;
    width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titolo {
    height: 134px;
    border-bottom: 0.5px solid black;
}

.titolo p {
    line-height: 134px;
    font-weight: 700;
    font-size: 25px;
}

.differenza {
     height: 87px;
     border-bottom: 0.5px solid black;

     position: relative;
}

.differenza span {
    line-height: 87px;
    font-weight: 700;
}

.fa-chevron-down {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);

    margin-right: 25px;
}

/* INIZIO FOOTER */
footer {
    height: 400px;
    background-color: black;

    position: relative;
}

.centro_footer {
    height: 80%;
    width: 90%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabelle_footer {
    height: 70%; 
    color: white;
}

.tabella_footer {
    width: 20%;
    height: 100%;

    display: inline-block;
    float: left;
}

.tabella_footer a {
    text-decoration: none;
    color: white;
}

.tabella_footer p:first-child {
    font-weight: 700;
    font-size: 25px;

    margin-bottom: 15px;
}

.tabella_footer p:nth-child(2),
.tabella_footer p:nth-child(3),
.tabella_footer p:nth-child(4),
.tabella_footer p:nth-child(5) {
    margin-bottom: 10px;
}

.orizzontale {
    height: 63px;
    background-color: black;
}

.italiano {
    height: 100%;
    width: 20%;
}

.italiano p {
    margin-top: 72px;
    color: white;
}
